@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size: 50px;">Austin Hoang</p>
<p style="font-size: 30px;">Developer and Sophomore at Southern New Hampshire Univeristy</p>

<img src="~/Images/austin.jpg" width="144" height="193"/>
<p style="font-size: 20px;">Studying a Bachelors in Computer Science. And currently taking a course in Software QA Testing, leading to the development of this website. Austin has coded console applications and is currently working on a club application program. In his off time, he likes to draw and play video games. His favorite recipe is Egg Fried Rice.</p>
<br>
<p style="font-size: 20px;">View his LinkedIn and GitHub Profiles Here!</p>
<a href="https://www.linkedin.com/in/austin-hoang-556687299/" target="_blank"> LinkedIn Profile </a>
<br>
<a href="https://github.com/aqhoang2005" target="_blank"> GitHubProfile </a>

